.go-to {
	position: relative;

	display: inline-flex;
	overflow: hidden;
	align-items: center;

	max-width: 58px;
	height: 58px;
	padding: 13px;

	transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.25s;
	text-decoration: none;

	color: var(--white);
	border: none;
	border-radius: 50px;
	background: linear-gradient(
		93.47deg,
		#f572a4 2.86%,
		#fd8a83 35.9%,
		#f59c72 63.41%,
		#f6ba77 92.08%
	);
	background-color: #fff;
	box-shadow: -4px -4px 16px rgba(31, 32, 65, 0.1),
		4px 4px 16px rgba(31, 32, 65, 0.1);
	& * {
		transition: all ease 0.2s;
	}
	&:hover {
		max-width: 999px;
		padding: 13px 34px;
		& .go-to__txt {
			opacity: 1;
		}
		img {
			right: 34px;
		}
	}
	&::after {
		display: block;

		width: 32px;
		height: 32px;

		content: "";
	}
	img {
		position: absolute;
		top: 13px;
		right: 13px;

		width: 32px;
		height: 32px;
	}
	&__txt {
		font-size: 14px;
		font-weight: bold;
		line-height: 18px;

		margin-right: 5px;

		opacity: 0;
	}
	// Модификатор
	&_l {
		max-width: 82px;
		height: 82px;
		.go-to {
			&__txt {
				font-size: 24px;
				line-height: 30px;

				letter-spacing: 0.01em;
			}
		}
		&::after {
			width: 50px;
			height: 50px;
		}
		img {
			position: absolute;
			top: 15px;
			right: 15px;

			width: 50px;
			height: 50px;
		}
	}
}
