.about-us
    .about-us__why
        .container
            h2.h2.about-us__title Почему мы? или TWIRION в цифрах
            ul.about-us__digital-list 
                li.about-us__digital-item
                    span.about-us__digital-title Реализованные проекты
                    span.about-us__digital-number >100
                li.about-us__digital-item
                    span.about-us__digital-title Реализованные проекты
                    span.about-us__digital-number >100
                li.about-us__digital-item
                    span.about-us__digital-title Реализованные проекты
                    span.about-us__digital-number >100
    .about-us__how
        .container 
            h1.h2.about-us__title Как мы работаем (Этапы Разработки)