header.header
    .logo.header__logo
        picture
            source(srcset="images/logo.webp", type="image/webp")
            img(src="images/logo.png", alt="alt")
        span.logo__label TWIRION