.portfolio.container 
	h2.h2 Блок портфолио.
	p.portfolio__desc В своём стремлении повысить качество жизни, они забывают, что сплочённость
		| команды профессионалов является качественно новой ступенью стандартных подходов.
		| Кстати, диаграммы связей, инициированные исключительно синтетически, описаны максимально подробно.
	.portfolio__grid 
		.portfolio__item
			img.project-card(src="images/portfolio/1.jpg", alt="portfolio")
			.portfolio__item-cover
				a.go-to(href="javascript:;")
					span.go-to__txt Подробнее
					img(src="images/icons/arrow-right.svg", alt="alt")
		.portfolio__item
			img.project-card(src="images/portfolio/1.jpg", alt="portfolio")
			.portfolio__item-cover
				a.go-to(href="javascript:;")
					span.go-to__txt Подробнее
					img(src="images/icons/arrow-right.svg", alt="alt")
	p.portfolio__desc В своём стремлении повысить качество жизни, они забывают, что сплочённость
		| команды профессионалов является качественно новой ступенью стандартных подходов.
		| Кстати, диаграммы связей, инициированные исключительно синтетически, описаны максимально подробно.
	.portfolio__grid 
		.portfolio__item
			img.project-card(src="images/portfolio/1.jpg", alt="portfolio")
			.portfolio__item-cover
				a.go-to(href="javascript:;")
					span.go-to__txt Подробнее
					img(src="images/icons/arrow-right.svg", alt="alt")
		.portfolio__item
			img.project-card(src="images/portfolio/1.jpg", alt="portfolio")
			.portfolio__item-cover
				a.go-to(href="javascript:;")
					span.go-to__txt Подробнее
					img(src="images/icons/arrow-right.svg", alt="alt")
