.reviews 
	h2.h2.container  Отзывы
	.tab-container
		.tabs.container 
			a.tab.active 
				div Фотографии
			a.tab 
				div Видео
			a.tab 
				div Текст
			a.tab 
				div Благодарственные письма
		.tab-panes
			.tab-pane.active 
				.swiper-container 
					.swiper-wrapper 
						.swiper-slide.reviews__slide
						.swiper-slide.reviews__slide
						.swiper-slide.reviews__slide
						.swiper-slide.reviews__slide
						.swiper-slide.reviews__slide
			.tab-pane
				.swiper-container 
					.swiper-wrapper 
						.swiper-slide.reviews__slide
						.swiper-slide.reviews__slide
						.swiper-slide.reviews__slide
						.swiper-slide.reviews__slide
						.swiper-slide.reviews__slide
			.tab-pane
				.swiper-container 
					.swiper-wrapper 
						.swiper-slide.reviews__slide
						.swiper-slide.reviews__slide
						.swiper-slide.reviews__slide
						.swiper-slide.reviews__slide
						.swiper-slide.reviews__slide
			.tab-pane
				.swiper-container 
					.swiper-wrapper 
						.swiper-slide.reviews__slide
						.swiper-slide.reviews__slide
						.swiper-slide.reviews__slide
						.swiper-slide.reviews__slide
						.swiper-slide.reviews__slide
		.reviews__navigation.container 
			.reviews__nav-btn.reviews__nav-btn_prev
				img(src="../../images/icons/angle-left.svg", alt="alt")
			.reviews__nav-btn.reviews__nav-btn_next
				img(src="../../images/icons/angle-right.svg", alt="alt")
