.services.container
    h2.h2.services__title Наши услуги
    .services__list
        - var n = 0;
            while n < 6
                .card.services__item
                    .card__wrap
                        h3.card__title Разработка приложений
                - n++