.services.container
    h2.h2.services__title Наши услуги
    .services__list
        - var n = 0;
            while n < 6
                .card.services__item
                    .card__wrap
                        h3.card__title Разработка приложений
                        ul.card__tech-names
                            li IPHONE 
                            li ANDROID 
                            li CROSS PLATFORM
                        ul.card__tech-icons
                            li
                                img(src="images/icons/android.svg", alt="alt")
                            li
                                img(src="images/icons/apple.svg", alt="alt")
                            li
                                img(src="images/icons/cross-platform.svg", alt="alt")
                        p.card__desc Спроектируйте и разработайте креативный веб-сайт с помощью наших микроскопических деталей и скрупулезных стратегий.
                        button.go-to.card__go-to
                            span.go-to__txt Подробнее
                            img(src="images/icons/arrow-right.svg", alt="alt")
                - n++