<!DOCTYPE html>
html(lang="ru")
    include pug/blocks/head
    body 
        .welcome
            img(src="images/gradient-bg.svg", alt="alt").welcome__bg
            include pug/blocks/header
        include pug/blocks/footer