doctype html
html(lang="ru")
	include pug/blocks/head
	body 
		.welcome
			img.welcome__bg(src="images/gradient-bg.svg", alt="alt")
			img.welcome__gradient(src="images/gradient-bg.svg", alt="alt")
			img.welcome__cloud(src="images/cloud.svg", alt="alt")
			include pug/blocks/header
			.container.welcome__wrap 
				.welcome__txt
					h1.welcome__title Добро пожаловать в мир безграничных возможностей в сфере веб разработки.
					.welcome__desc Мы разробатываем уникальные сайты, которые помогают Вам развивать бизнес и выделиться среди конкурентов
					button.btn.welcome__callback Оставить заявку
				picture.welcome__rocket
					source(srcset="images/rocket.webp", type="image/webp")
					img(src="images/rocket.png", alt="alt") 
			canvas#stars.welcome__stars
		include pug/blocks/services
		include pug/blocks/about-us
		include pug/blocks/portfolio
		include pug/blocks/companies
		include pug/blocks/reviews
		include pug/blocks/footer
